.site-footer {
    position : relative;
    margin   : 8rem 0 0 0;
    padding  : 1rem 15px;
    font     : 1.25rem/1.75rem "Open Sans", sans-serif;
    color    : #bbc7cc;
    a {
        color           : #bbc7cc;
        text-decoration : none;
        font-weight     : bold;
        &:hover { border-bottom : #bbc7cc 1px solid; }
    }
}

.copyright { text-align: center; }