@include critical(true) {
    html {
        height                      : 100%;
        max-height                  : 100%;
        font-size                   : 62.5%;
        -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    }

    body {
        height                        : 100%;
        max-height                    : 100%;
        letter-spacing                : 0.01rem;
        font-size                     : 1.8rem;
        line-height                   : 1.75em;
        -webkit-font-feature-settings : 'kern' 1;
        -moz-font-feature-settings    : 'kern' 1;
        -o-font-feature-settings      : 'kern' 1;
        text-rendering                : geometricPrecision;
    }
    .inner {
        position  : relative;
        width     : 80%;
        max-width : 710px;
        margin    : 0 auto;
    }
    .main-header {
        flex             : 1;
        position         : relative;
        display          : flex;
        align-content    : center;
        justify-content  : center;
        text-align       : center;
        width            : 100%;
        height           : 100vh;
        margin-bottom    : 5rem;
        //height          : 85px;
        background       : no-repeat center center;
        background-size  : cover;
        background-image : url('https://pp.userapi.com/c626219/v626219757/4975b/pdcHCtWdDMs.jpg');
        overflow         : hidden;
        transition       : all 0.5s linear;
        //.inner {
        //    width  : 80%;
        //    margin : 0 auto;
        //}
    }
    .main-nav {
        display  : none;
        position : relative;
        padding  : 2rem 3rem 0;
        a {
            text-decoration : none;
            font-family     : 'Open Sans', sans-serif;
        }
    }
    .vertical {
        display     : flex;
        align-items : center;
    }

    .post {
        position       : relative;
        width          : 80%;
        max-width      : 710px;
        margin         : 0 auto;
        padding-bottom : 2.5rem;
        border-bottom  : #ebf2f6 1px solid;
        word-wrap      : break-word;
        &:after {
            display       : block;
            content       : "";
            width         : 7px;
            height        : 7px;
            border        : #e7eef2 1px solid;
            position      : absolute;
            bottom        : -5px;
            left          : 50%;
            margin-left   : -5px;
            background    : #fff;
            border-radius : 100%;
            box-shadow    : #fff 0 0 0 5px;
        }
    }

    .post-head.main-header {
        height     : 65vh;
        min-height : 180px;
    }

    .no-cover.post-head.main-header {
        height          : auto;
        min-height      : 0;
        margin-bottom   : 0;
        background      : transparent;
        justify-content : flex-end;
    }
    .page-title {
        letter-spacing : -1px;
        font-weight    : 700;
        font-family    : "Open Sans", sans-serif;
        color          : $white;
    }
    .page-description {
        margin         : 0;
        font-size      : 2rem;
        line-height    : 1.5em;
        font-weight    : 400;
        font-family    : "Merriweather", serif;
        letter-spacing : 0.01rem;
        color          : rgba(255, 255, 255, 0.8);
    }
    @media only screen and (max-width : 900px) {
        .main-header {
            min-height : 240px;
            height     : 60vh;
            padding    : 15% 0;
        }
    }
    @media only screen and (max-width : 500px) {
        body:not(.post-template) .post-title { font-size : 2.5rem; }
        .main-header {
            margin-bottom : 15px;
            height        : 40vh;
        }
    }
}

@include critical(false) {

    .page-title {
        margin    : 10px 0 10px 0;
        font-size : 5rem;
    }
    .post { margin : 2.5rem auto; }
    .main-nav { display : block; }
}