$critical-css-only : false;

//Colors
$black : rgba(0, 0, 0, 1);
$white : rgba(255, 255, 255, 1);

$gray-1 : #c0c0c0;

$icon-ghost: "\f600";
$icon-feed: "\f601";
$icon-twitter: "\f602";
$icon-google-plus: "\f603";
$icon-facebook: "\f604";
$icon-arrow-left: "\f605";
$icon-stats: "\f606";
$icon-location: "\f607";
$icon-link: "\f608";
$icon-menu: "\f609";
$icon-vk: "\ea98";