$icon-font : 'icons';
$font-url : "../fonts/";
$fonts : OpenSans-Regular, OpenSans-Italic, OpenSans-Bold, Merriweather-Regular, Merriweather-Bold;

@font-face {
    font-family : $icon-font;
    src         : url('#{$font-url}icons.woff') format("woff");
}

@each $font in $fonts {
    @font-face {
        font-family : '#{$font}';
        src         : url('#{$font-url}#{$font}.woff') format("woff");
    }
}