@import 'utils/vars',
'utils/mixins';

$critical-css-only : true;

body {
    color       : #3a4145;
    font-family : sans-serif;
}

.wf-active {
    body {
        font-family : "Roboto", sans-serif;
    }
}

//.nav, .content, footer { opacity : 0; }

@import 'utils/reset',
'utils/typography',
'utils/grid',
'utils/main-styles',
'utils/navs';