@import 'utils/vars',
'utils/mixins';

$icon-font : 'icons';

@font-face {
    font-family : $icon-font;
    src         : url('{{asset "fonts/icons.woff2"}}') format("woff2");
}

$critical-css-only : true;

body {
    color       : $body-c;
    font-family : "Merriweather-Regular", sans-serif;
}

.wf-active {
    body { font-family : "Merriweather", sans-serif; }
}

//.nav, .content, footer { opacity : 0; }

@import 'utils/reset',
'utils/typography',
'utils/grid',
'utils/main-styles',
'utils/navs';